html, body {
    background-color:rgb(27, 27, 31)8;
    height: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    font-size: 1.10rem;
}

ul[class*="select"] {
    display: flex;
    margin-left: -1.5rem
}

ul[class*="select"] > li {
    margin: 1rem;
    padding: 1rem;
    
    background-color: rgb(27, 27, 31)8;
    border: 1px solid #888a85;
    border-radius: 6px;
}

ul[class*="select"] > li[class*="Releases"]
{
    background-color: rgba(27, 28, 28, 0.8)
}

ul[class*="select"] > li > a {
    font-size: 1.25rem;
    color: #858380
}