code {
    position: relative;
    bottom: 1px;
    padding: 0.2em 0.4em;
    border-radius: 6px;
    background-color: rgba(142, 144, 146, 0.1);
}

h1, h2, h3, h4
{
    font-weight: 600;
    padding-bottom: 9.6px;
    border-bottom: 1px solid #2f3132;
}

h1 {
    font-size: 1.85em;
}

a {
    text-decoration: none;
    color: #426d93
}

section[class*="content"] {
    margin: 1rem;
}

section[class*="content"] > section {
    margin-top: 2rem;
}

section[class*="content"] > details > ul > li > a:hover {
    text-decoration: underline;
}

section[class*="content"] > details > ul > li > ol > li a:hover {
    text-decoration: underline;
}

section[class*="content"] > section > section > ul > li > a:hover {
    text-decoration: underline;
}

ul[class*="decimal"], ol[class*="decimal"] {
    list-style-type: decimal;
}

ul[class*="dot"], ol[class*="dot"]{
    list-style-type: circle;
}